.section-selected {
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  padding: 9.6rem 0;
}
.selected {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.selected-title {
  font-family: 'Noto Sans SC';
  font-size: 2.4rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.selected-card {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
}
.selected-card-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 6.4rem 4.8rem;
}
#vue {
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  background-color: #e7f4f6;
  border-radius: 8px;
}
.selected-card-content-title {
  font-family: ' Noto Serif SC', serif;
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 1.2;
  letter-spacing: -1px;
}
.selected-card-content-overview {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666;
}
.selected-card-img {
  background-image: url(https://assets.website-files.com/62dea978873e15606a3fe181/62e147b7913ebd39ebe68e78_olivia-blog-cover-image-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
