.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 7.4rem;
  margin: 0 auto;
}

.logo {
  font-family: 'Caveat Brush', sans-serif;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.flex--center {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.margin--top {
  margin-top: 8rem !important;
}

.header-nav-btn {
  border: none;
}

.moveUp-brighten {
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
}

.moveUp-brighten:hover {
  opacity: 0.88;
  transform: translate(0, -5px)
}

.label {
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  border-radius: 8px;
}

#vue {
  background-color: #e7f4f6;
}

#nodejs {
  background-color: #fde2e4;
}

#css {
  background-color: #cddafd;
}

#webpack {
  background-color: #f0efeb;
}
